body {
  margin: 0;
}
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 3px solid #6aad4a;
  position: fixed;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 6.2em;
  top: 0;
  z-index: 10;
}
.header .showNav {
  position: absolute;
  top: 40px;
  right: 30px;
}
.header .nav {
  margin: 0;
  display: none;
  background: #fff;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #808080;
  border-top: 0;
}
.header .nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 20px;
}
.header .nav ul .nav-item {
  border-bottom: 2px solid #008000;
  padding: 10px 0;
}
.header .nav ul .nav-item a {
  text-transform: uppercase;
  margin: 0 0.6em;
  border-top: 3px solid transparent;
  padding-top: 0.5em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #000;
  text-decoration: none;
}
.header .nav ul .nav-item a:hover {
  border-top-color: #008000;
  cursor: pointer;
}
.header .logo {
  margin: 0;
  width: 11.2em;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.header .logo img {
  width: 100%;
  height: 100%;
}
.slide {
  margin-top: 6.45em;
  width: 100%;
}
.slide .head-img {
  margin: 0;
  width: 100%;
}
.slide .head-img img {
  width: 100%;
}
.main {
  background: #efefef;
  margin-top: 6.45em;
  width: 100%;
}
.main .offer {
  background: #008000;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.main .offer .wrap-item {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main .offer .wrap-item .description-section {
  padding: 1em 0;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  width: 90%;
  text-align: center;
}
.main .offer .wrap-item-post {
  text-align: center;
  width: 280px;
  margin: 20px 10px;
}
.main .offer .wrap-item-post img {
  width: 200px;
}
.main .offer .wrap-item-post-name {
  color: #ccc;
  font-size: 1.6em;
  margin: 0.5em 0;
}
.main .offer .wrap-item-post-description {
  font-size: 1.2em;
  margin: 0;
}
.main .offer .wrap-item .info-extra {
  font-size: 1.3em;
  padding: 1.8rem 0;
  border-top: 1px solid #fff;
  width: 85%;
  text-align: center;
}
.main .products {
  background: #4b433c;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.main .products .wrap-item {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main .products .wrap-item .description-section {
  padding: 1em 0;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  width: 90%;
  text-align: center;
}
.main .products .wrap-item .product {
  background: #fff;
  -webkit-border-radius: 0.3em 0.3em 2px 2px;
  border-radius: 0.3em 0.3em 2px 2px;
  border: 1px solid #808080;
  color: #000;
  width: 270px;
  height: 230px;
  margin: 70px 10px;
}
.main .products .wrap-item .product-name {
  text-align: center;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.main .products .wrap-item .product-img {
  margin: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #808080;
}
.main .products .wrap-item .product-img img {
  width: 100%;
  height: 100%;
  padding-bottom: -3px;
}
.main .our-sh {
  background: #ccc;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.main .our-sh .wrap-item {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main .our-sh .wrap-item .description-section {
  padding: 1em 0;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  width: 90%;
  text-align: center;
}
.main .our-sh .wrap-item-post {
  text-align: center;
  width: 280px;
  margin: 20px 10px;
}
.main .our-sh .wrap-item-post img {
  width: 200px;
}
.main .our-sh .wrap-item-post-name {
  color: #ccc;
  font-size: 2em;
  margin: 0.5em 0;
}
.main .our-sh .wrap-item-post-description {
  font-size: 1.8em;
  margin: 0;
}
.main .our-sh .wrap-item .info-extra {
  font-size: 1.3em;
  padding: 1.8rem 0;
  border-top: 1px solid #fff;
  width: 85%;
  text-align: center;
}
.triangle-green {
  width: 35px;
  height: 35px;
  background: #008000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  bottom: -17px;
  margin: 0 auto;
  z-index: 2;
}
.triangle-brown {
  width: 35px;
  height: 35px;
  background: #4b433c;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  bottom: -17px;
  margin: 0 auto;
  z-index: 2;
}
.triangle-lightgray {
  width: 35px;
  height: 35px;
  background: #ccc;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  bottom: -17px;
  margin: 0 auto;
  z-index: 2;
}
.wrap-item {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap-item .title-section {
  padding: 1em 0;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  width: 90%;
  text-align: center;
}
.footer {
  width: 100%;
  background: url("../img/footer2.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.3em;
}
.footer .contact-ways {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  margin-top: 20px;
}
.footer .contact-ways-item {
  text-align: center;
  margin-top: 5px;
}
.footer .contact-ways-item:first-child {
  margin-top: 0;
}
.footer .contact-ways-item p {
  margin: 0;
}
.footer .redes {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.footer .redes .item {
  margin: 0 15px;
  background: #d3d3d3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #808080;
}
.footer .copy {
  color: #fff;
  text-align: center;
}
.footer .copy p {
  margin: 0;
}
