@import 'nib'

body
	margin 0

.header
	display flex
	justify-content space-between
	background white
	align-items center
	border-bottom 3px solid #6AAD4A
	position fixed
	flex-direction column
	width 100%
	height 6.2em
	top 0
	z-index 10
	.showNav
		position absolute 
		top 40px 
		right 30px
	
	.nav
		margin 0
		background white
		border-radius 0 0 10px 10px
		border 1px solid gray
		border-top 0
		
		ul
			display flex
			list-style none
			flex-direction column
			padding 0 20px
			display none
			.nav-item
				border-bottom 2px solid green
				padding 10px 0
				a
					text-transform uppercase
					margin 0 .6em
					border-top 3px solid transparent
					padding-top .5em
					transition all .5s
					color #000
					text-decoration none
					&:hover
						border-top-color green
						cursor pointer
					
			
	.logo
		margin 0
		width 11.2em
		flex none
		img
			width 100%
			height 100%
.slide
	margin-top 6.45em
	width 100%
	height 560px
	background url('../img/jardin.jpg')
	background-size cover
	.intro-welcome
		margin 0
		transform skew(13deg)
		width 400px
		height 100%
		background rgba(0, 0, 0, 0.4)
		padding 0 100px
		border-right 1px solid rgba(255,255,255, .8)
		padding-right 200px
		position relative 
		left -70px
		&-items
			transform skew(-13deg)
			position relative
			top 130px
			left 100px
			.title
				font-family 'Lora' serif
				font-size 35px
				margin 0
			&-text
				margin 0
				color white
				font-weight 500
				font-size 1.6em
				margin-bottom 20px
			.call-to-action
				background brown
				border-bottom 3px solid lightgray
				border-radius .2em
				padding .2em .4em
				color white
				text-decoration none
				font-size 1.4em
				transition .2s
				margin-left 40px
				&:hover
					background #C50C0C
.main
	background #efefef
	margin-top 1em
	width 100%
	.offer
		background green
		color white
		display flex
		flex-direction column
		justify-content center
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
			&-post
				text-align center
				width 280px
				margin 20px 10px
				img 
					width 200px
				&-name
					color #ccc
					font-size 1.6em
					margin .5em 0
				&-description
					font-size 1.2em
					margin 0
			.info-extra
				font-size 1.3em
				padding 1.8rem 0
				border-top 1px solid white
				width 85%
				text-align center
	
	.all-products    //<---Seccion de plantas
		display flex
		flex-wrap wrap
		justify-content center
		

	.products       //<---Seccion de index
		background #4B433C
		color white
		display flex
		flex-direction column
		justify-content center
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
			
	.our-sh
		background #ccc
		color white
		display flex
		flex-direction column
		justify-content center
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
			&-post
				text-align center
				width 280px
				margin 20px 10px
				img 
					width 200px
				&-name
					color white
					font-size 2em
					margin .5em 0
				&-description
					font-size 1.8em
					margin 0
			.info-extra
				font-size 1.3em
				padding 1.8rem 0
				border-top 1px solid white
				width 85%
				text-align center

	.contact       //SECCION DE CONTACTO
		margin 0
		.all-contact
			margin 0
			display flex
			justify-content center
			form
				margin 0 
				display flex
				flex-direction column
				width 420px
				margin-right 200px
				textarea
					height 160px
				.input
					margin 0
					padding .4em
					margin-bottom 1em
					outline 0
					font-size 1em
					border-radius .3em
					border 1px solid lightgray
					&[type="submit"]
						width 150px
						margin 0 auto
						font-size 1.2em
						background gray
						color white
						padding .2em 0
						border-radius .3em
					&:focus
						border-color green
			.contacts
				margin 0
				.ways-contact
					margin 0
					border-bottom 1px solid gray
					
					&-item
						margin 0
						display flex
						align-items center
						justify-content center
						margin-bottom 15px
						span
							margin-right 5px
	
	.us
		margin 0
		.all
			margin 0
			display flex
			justify-content center
			margin-bottom 70px
			.info
				width 600px
				.wrap-progress
					margin 0
					.title-bar
						margin 0
						position relative 
						left 25px
						bottom -15px
					.progress-bar1
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						margin-bottom 12px
						border-radius 4px
						position relative
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 352px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 376px
							background #463A2F
							height 13px
							border-radius 4px
							
							.moving
								width 30px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
					.progress-bar2
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						border-radius 4px
						position relative
						margin-bottom 12px
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 387px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 411px
							background blue
							height 13px
							border-radius 4px
							
							.moving
								width 28px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
					.progress-bar3
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						border-radius 4px
						position relative
						margin-bottom 12px
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 311px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 335px
							background blue
							height 13px
							border-radius 4px
							
							.moving
								width 30px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
			.tabs
				margin 0
				width 42%
				&-items
					display flex
					justify-content center
					.item
						padding .2em .4em	
						margin 0 1.2em
						font-size 1.2em
						border 1px solid gray
						border-radius .3em
						cursor pointer
						transition .4s
						color white
						font-weight 500
						background linear-gradient(30deg,#0E6D19 0%,#3fe7d9 100%)
						&:hover
							transform skew(-10deg)
				&-show
					padding 0 1em
					&-text
						font-size 1.2em
						margin-top .5em
					
		.offer
			margin 0
			display flex
			flex-direction row
			justify-content center
			background #efefef
			&-item
				width 250px
				display flex
				flex-direction column
				align-items center
				margin 1.5em 1em
				&-img
					margin 0
					margin-bottom 1em
					img
						width 108px
						height 111px
				&-description
					background white
					color black
					padding 0 1em
					text-align center
					border 1px solid lightgray
					&:before
						content ""
						width 18px
						height 18px
						background white
						display block 
						border-top 1px solid lightgray
						border-left 1px solid lightgray
						transform rotate(45deg)
						position relative
						top -9px
						left 47%
					&-title
						margin 0


//OOCCSS
  
.triangle-green
	width 35px
	height 35px
	background green
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2 //para que se ponga detras del header que tiene z-index 10

.triangle-brown
	width 35px
	height 35px
	background #4B433C
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2  //para que se ponga detras del header que tiene z-index 10
.triangle-lightgray
	width 35px
	height 35px
	background #ccc
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2  //para que se ponga detras del header que tiene z-index 10

.product
	background white
	border-radius .3em .3em 2px 2px 
	border 1px solid gray
	color black
	width 270px
	height 230px
	margin 0 10px
	margin-bottom 80px
	cursor pointer
	
	&-name
		text-align center
		text-transform uppercase
		margin .5em 0
	&-img
		margin 0
		width 100%
		height 100%
		border-top 1px solid gray
		
		img
			width 100%
			height 100%
			padding-bottom -3px
			
.show-by
	display flex
	justify-content center
	position relative 
	top -25px
	&-category
		text-decoration none
		padding .25em .4em
		color white
		background #a52a2a
		color white
		border-radius .3em
		border 1px solid gray
		font-size 1.2em
		margin 0 .5em
		transition .3s
		&:hover
			text-decoration underline
			transform scale(1.05)
			
.subSection
	margin-top 4.5em
	&-title
		color green
		font-size 1.5em
		text-align center
		width 50%
		border-bottom 2px dashed gray
		margin 0 auto
	
.wrap-item
	margin 0
	display flex
	justify-content center
	flex-wrap wrap	
	.title-section
		padding 1em 0
		font-size 2em
		border-bottom 1px solid white
		width 90%
		text-align center
.intro
	text-align center
	width 600px
	margin 0 auto
	margin-bottom 50px
	border-bottom 1px dashed lightgray
	&-title
		color green
		font-size 1.8em
		margin-bottom 0
		font-family 'Roboto' sans-serif
		
	&-description
		color #555
		font-size 1.2em
		margin-bottom .5em
.search-form
	margin 0
	&-input
		margin 0
		padding .4em
		width 300px
		margin-bottom 1em
		outline 0
		font-size 1em
		border-radius .3em
		border 1px solid lightgray
	&-input-send
		padding .3em
		font-size 1em
		color black
		border-radius .3em
		border 0
		border 1px solid white
		outline 0
		&:hover
			border-color green
			color white
		
.phrase
	margin 0
	width 100%
	height auto
	background url('../img/hojas-background.png')
	border 4px solid #3C815C
	border-left 0
	border-right 0
	margin-bottom 2px
	display flex
	justify-content center
	align-items center
	padding 60px 0
	&-box
		margin 0
		width 70%
		&-text
			margin 0
			color white
			text-align center
			font-size 3em
			font-family 'Shadows Into Light'

.title-sections
	background green
	color white
	display flex
	flex-direction column
	width 100%
	height 70px
	justify-content center
	position relative
	.title
		margin-left 7em
		text-transform uppercase
		text-align center
		width 180px
		
.triangle-section
	width 25px
	height 25px 
	background green
	transform rotate(45deg)
	flex none
	position absolute
	left 185px
	top 55px
	
.font-size50
	font-size 50px !important
.footer
	width 100%
	background url('../img/footer2.jpg')
	background-size contain
	display flex
	flex-direction column
	justify-content center
	align-items center
	font-size 1.3em
	
	.contact-ways
		display flex
		justify-content center
		flex-direction column
		margin 0
		font-family sans-serif
		margin-top 20px
		&-item
			text-align center
			margin-top 5px
			&:first-child 
				margin-top 0
			p
				margin 0			
	.redes
		margin 0
		display flex
		.item
			margin 0 15px
			background lightgray
			border-radius 50%
			width 40px
			height 40px
			text-align center
			line-height 40px
			border 1px solid gray
			
	.copy
		color white
		text-align center
		p
			margin 0
			



		
