@import 'nib'

body
	margin 0

.header
	display flex
	justify-content space-between
	background white
	align-items center
	border-bottom 3px solid #6AAD4A
	position fixed
	flex-direction column
	width 100%
	height 6.2em
	top 0
	z-index 10
	.showNav
		position absolute 
		top 40px 
		right 30px
		cursor pointer
	.nav
		margin 0
		background white
		border-radius 0 0 10px 10px
		border 1px solid gray
		border-top 0
		
		ul
			display flex
			list-style none
			flex-direction column
			padding 0 20px
			display none
			.nav-item
				border-bottom 2px solid green
				padding 10px 0
				a
					padding 0 .6em
					text-transform uppercase
					border-top 3px solid transparent
					padding-top .5em
					transition all .5s
					color #000
					text-decoration none
					&:hover
						border-top-color green
						cursor pointer
						
			.separator
				font-size 1.3em	
				position relative
				top -3px
				display none
			
	.logo
		margin 0
		width 11.2em
		flex none
		img
			width 95%
			height 95%
.slide
	margin-top 6.45em
	width 100%
	// height 560px
	height 220px
	background url('../img/jardin.jpg')
	background-size cover
	.intro-welcome
		margin 0
		transform skew(13deg)
		width 80%
		height 100%
		background rgba(0, 0, 0, 0.4)
		border-right 1px solid rgba(255,255,255, .8)
		position relative 
		// left -70px
		left 30px
		display flex
		justify-content center
		align-items center
		&-items
			transform skew(-13deg)
			flex-direction column
			width 90%
			position relative
			margin-top -20px
			margin-left 5%
			font-size .62em
			
			.title
				font-family 'Lora' serif
				font-size 1.7em
				margin 0
			&-text
				color white
				font-weight 500
				font-size 1.6em
			.call-to-action
				background brown
				border-bottom 3px solid lightgray
				border-radius .2em
				padding .2em .4em
				color white
				text-decoration none
				font-size 1.4em
				transition .2s
				margin-left 40px
				
				&:hover
					background #C50C0C
.main
	background #efefef
	width 100%
	margin-top 100px
	.offer
		color white
		// background url('http://photos.up-wallpaper.com/images247/f5hyy4xuj1l.jpg')
		background url('../img/tree.jpg')
		// background #61A93E
		display flex
		background-size cover
		flex-direction column
		justify-content center
		&-wrap
			background rgba(0,0,0,.4)
			padding 30px 0
			
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
			&-post
				text-align center
				width 280px
				margin 20px 10px
				img 
					width 200px
				&-name
					color yellow
					font-size 1.6em
					margin .5em 0
				&-description
					font-size 1.2em
					margin 0
			.info-extra
				font-size 1.3em
				padding 1.8rem 0
				border-top 1px solid white
				width 85%
				text-align center
	
	.all-products    //<---Seccion de plantas
		display flex
		flex-wrap wrap
		justify-content center
		

	.products       //<---Seccion de index
		background #4B433C
		// color #C2B59C
		color white
		display flex
		flex-direction column
		justify-content center
		.colors
			width 100%
			display flex
			
			.item
				width 20%
				height 12px
				background red
				&:nth-child(1)
					background #437A41
				&:nth-child(2)
					background #5B9447
				&:nth-child(5)
					background #0F7965
				&:nth-child(4)
					background #138E4F
				&:nth-child(3)
					background #075B39
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
	.costumer-say
		background white
		padding 20px 0 50px 0
		&-title
			text-align center
			padding 1.5em 0
			width 90%
			border-bottom 2px solid black
			margin 0 auto
			.title
				margin 0
				font-size 2em
		&-items
			display flex
			justify-content center
			flex-wrap wrap
			&-item
				margin 1.3em .8em
				width 270px
				display flex
				flex-direction column
				align-items center
				&-font
					background #f5f5f5
					border-radius .8em
					padding .8em
					text-align center
					&-by
						margin 10px 0
						color #B3332E
						font-size 1.2em
					&-text
						margin 0
						font-size 18px
				&-logo
					margin 0
					width 80px
					height 80px
					img
						width 100%
						height 100%
						border 3px solid lightgray
						border-radius 50%
						
	.our-sh
		background url('../img/back-tree.jpg')
		color white
		background-size cover
		display flex
		flex-direction column
		justify-content center
		padding 20px 0 80px 0
		.wrap-item
			margin 0
			display flex
			justify-content center
			flex-wrap wrap
			.description-section
				padding 1em 0
				font-size 2em
				border-bottom 1px solid white
				width 90%
				text-align center
			&-post
				text-align center
				width 280px
				margin 20px 10px
				img 
					width 200px
				&-name
					color white
					font-size 2em
					margin .5em 0
				&-description
					font-size 1.8em
					margin 0
			.info-extra
				font-size 1.3em
				padding 1.8rem 0
				border-top 1px solid white
				width 85%
				text-align center

	.contact       //SECCION DE CONTACTO
		margin 0
		.all-contact
			margin 0
			display flex
			justify-content center
			flex-direction column
			align-items center
			form
				margin 0 
				display flex
				flex-direction column
				// width 420px
				// margin-right 200px
				width 70%
				textarea
					height 160px
				.input
					margin 0
					padding .4em
					margin-bottom 1em
					outline 0
					font-size 1em
					border-radius .3em
					border 1px solid lightgray
					&[type="submit"]
						width 150px
						margin 0 auto
						font-size 1.2em
						background gray
						color white
						padding .2em 0
						border-radius .3em
						transition .4s
						
						&:hover
							background green
					&:focus
						border-color green
			.contacts
				margin 0
				.ways-contact
					margin 0
					border-bottom 1px solid gray
					
					&-item
						margin 0
						display flex
						align-items center
						justify-content center
						margin-bottom 15px
						span
							margin-right 5px
							
		.map
			margin-top 50px
			display flex
			justify-content center
			flex-direction column
			align-items center
			iframe
				width 90%
				// width 40%
				// height 400px
				height 50vh
				margin-bottom 20px
				border 1px solid gray
				border-radius .2em
				&:first-child 
					// margin-right 2.3em
				
	
	.us
		margin 0
		.all
			margin 0
			display flex
			justify-content center
			margin-bottom 70px
			flex-direction column
			align-items center
			.info
				// width 600px
				width 80%
				order 2
				margin 0 auto
				.wrap-progress
					margin 0
					
					.title-bar
						margin 0
						position relative 
						left 25px
						bottom -15px
					.progress-bar1
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						margin-bottom 12px
						border-radius 4px
						position relative
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 352px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 376px
							background #463A2F
							height 13px
							border-radius 4px
							
							.moving
								width 30px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
					.progress-bar2
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						border-radius 4px
						position relative
						margin-bottom 12px
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 387px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 411px
							background blue
							height 13px
							border-radius 4px
							
							.moving
								width 28px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
					.progress-bar3
						width 430px
						height 13px
						background #e8e8e8
						border 1px solid lightgray
						margin 20px
						border-radius 4px
						position relative
						margin-bottom 12px
						.porcentaje
							background black
							color white
							position absolute 
							top -28px
							left 311px
							text-align center
							border-radius .3em
							padding-left .3em
							padding .1em 0 .1em .3em
							&:after
								content ""
								width 7px 
								height 7px
								background black
								display inline-block
								position relative
								left -16px
								bottom -8px
								transform rotate(45deg)
								
						.progress
							width 335px
							background blue
							height 13px
							border-radius 4px
							
							.moving
								width 30px
								height 13px
								background rgba(245, 244, 244, 0.38);
								transform skew(20deg)
								margin-right 20px
								display inline-block
								position relative
								top -1px
								animation-name moving
								&:last-child
									margin 0
			.tabs
				margin-top -15px
				width 95%
				order 1
				&-items
					display flex
					justify-content center
					.item
						padding .2em .4em	
						margin 0 1em
						font-size 1.3em
						border 1px solid gray
						border-radius .3em
						cursor pointer
						transition .4s
						color white
						font-weight 500
						position relative
						background linear-gradient(30deg,#0E6D19 0%,#3fe7d9 100%)
						&:hover
							transform skew(-10deg)
				&-show
					padding 1.8em
					margin 1.8em auto
					border-top 3px solid green
					border-bottom 3px solid green
					border-left 1px solid green
					border-right 1px solid green
					
					background white
					width 85%
					
					&-text
						font-size 1.3em
						color brown
						text-shadow 0 0 3px #A5A0A0
						margin-top .3em
						img
							margin 15px 0
						span
							color green
							border-bottom 3px solid green
							margin-right 5px
							text-shadow none
						
							
						label
							text-align center
							font-size 1.3em
							color #4A1616
							font-style italic
	
						
					
		.offer
			margin 0
			display flex
			flex-direction row
			justify-content center
			background #efefef
			color #C2B59C
			flex-wrap wrap
			&-item
				width 250px
				display flex
				flex-direction column
				align-items center
				margin 1.5em 1em
				&-img
					margin 0
					margin-bottom 1em
					img
						width 108px
						height 111px
				&-description
					background white
					color black
					padding 0 1em
					text-align center
					border 1px solid lightgray
					&:before
						content ""
						width 18px
						height 18px
						background white
						display block 
						border-top 1px solid lightgray
						border-left 1px solid lightgray
						transform rotate(45deg)
						position relative
						top -9px
						left 47%
					&-title
						margin 0
						font-size 1.35em


//OOCCSS
.open
	display flex
	flex-direction column
	background white
	width 75%
	margin 20px auto
	padding 10px 30px
	border-radius .8em
	border 1px solid green
	&-header
		display flex
		justify-content center
		border-bottom 3px solid green
		h3
			margin 0 0 10px 0
			font-size 1.5em
	&-body
		display flex
		justify-content center
		margin 20px auto
		div
			border-right 1px dashed green
			padding 0px
			text-align center
			&:last-child
				border 0px
	&-footer
		display flex
		justify-content center
		border-top 3px solid green
		h3
			margin 10px 0 0 0
		
.triangle-green
	width 35px
	height 35px
	background green
	
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2 //para que se ponga detras del header que tiene z-index 10

.triangle-brown
	width 35px
	height 35px
	background #4B433C
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2  //para que se ponga detras del header que tiene z-index 10
.triangle-lightgray
	width 35px
	height 35px
	background #ccc
	transform rotate(45deg)
	position relative
	bottom -17px
	margin 0 auto
	z-index 2  //para que se ponga detras del header que tiene z-index 10

.product
	background white
	border-radius .3em .3em 2px 2px 
	border 1px solid gray
	color black
	width 260px
	margin 0 15px
	margin-bottom 80px
	cursor pointer
	box-shadow 0 0 20px gray
	
	&-name
		text-align center
		margin .5em 0
	&-img
		margin 0
		width 100%
		height 270px
		border-top 1px solid gray
		img
			width 100%
			height 100%
	&-footer
		margin 0
		background #f6f6f6
		padding .3em .6em
		display flex
		justify-content space-between
		&-price
			margin 0
			color #555
			font-size 1.3em
			list-style none
		&-cat
			margin 0
			color #555
			font-size 1.3em	
.show-by
	display flex
	justify-content center
	position relative 
	top -25px
	&-category
		text-decoration none
		padding .25em .4em
		color white
		background #a52a2a
		color white
		border-radius .3em
		border 1px solid gray
		font-size 1.2em
		margin 0 .5em
		transition .3s
		&:hover
			text-decoration underline
			transform scale(1.05)
			
.subSection
	margin-top 4.5em
	&-title
		color green
		font-size 1.5em
		text-align center
		width 50%
		border-bottom 2px dashed gray
		margin 0 auto
		

.gallery
	width 98%
	border 1px solid gray
	margin 0 auto
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	&-item
		width 370px
		height 340px
		box-shadow 0 0 20px #000
		margin 25px 1.5%
		img
			width 100%
			height 100%
	
.wrap-item
	margin 0
	display flex
	justify-content center
	flex-wrap wrap	
	.title-section
		padding 1em 0
		font-size 2em
		border-bottom 1px solid white
		width 90%
		text-align center
.intro
	text-align center
	width 94%
	margin 0 auto
	margin-bottom 50px
	border-bottom 1px dashed lightgray
	font-size 1.1em
	&-title
		color green
		font-size 1.8em
		margin-bottom 0
		font-family 'Roboto' sans-serif
		
	&-description
		color #555
		font-size 1.2em
		margin-bottom .5em
.search-form
	margin 0
	&-input
		margin 0
		padding .4em
		width 300px
		margin-bottom 1em
		outline 0
		font-size 1em
		border-radius .3em
		border 1px solid lightgray
	&-input-send
		padding .3em
		font-size 1em
		color black
		border-radius .3em
		border 0
		border 1px solid white
		outline 0
		&:hover
			border-color green
			color white
		
.phrase
	margin 0
	width 100%
	height auto
	background url('../img/hojas-background.png')
	border 4px solid #3C815C
	border-left 0
	border-right 0
	margin-bottom 2px
	display flex
	justify-content center
	align-items center
	padding 60px 0
	&-box
		margin 0
		width 70%
		&-text
			margin 0
			color white
			text-align center
			font-size 1.8em
			font-family 'Shadows Into Light'

.title-sections
	background green
	color white
	display flex
	flex-direction column
	width 100%
	height 57px
	justify-content center
	position relative
	.title
		margin-left 7em
		text-transform uppercase
		text-align center
		width 180px
		
.triangle-lightgray
	width 23px
	height 23px 
	background #f5f5f5
	transform rotate(45deg)
	flex none
	position relative 
	top -12px	
	
.triangle-section
	width 25px
	height 25px
	background green
	transform rotate(45deg)
	position absolute
	top 42px
	left 190px
	
.font-size50
	font-size 50px !important
.footer
	width 100%
	background url('../img/footer2.jpg')
	background-size contain
	display flex
	flex-direction column
	justify-content center
	align-items center
	font-size 1.3em
	
	.contact-ways
		display flex
		justify-content center
		flex-direction column
		margin 0
		font-family sans-serif
		margin-top 20px
		&-item
			text-align center
			margin-top 5px
			&:first-child 
				margin-top 0
			p
				margin 0			
	.redes
		margin 0
		display flex
		.item
			margin 0 15px
			background #3b5998
			border-radius 50%
			width 1.4em
			height 1.4em
			text-align center
			line-height 1.4em
			border 1px solid white
			
			font-size 1.3em
			a
				color white
				text-decoration none
				display block
	.copy
		color white
		text-align center
		p
			margin 0
			

.active
	box-shadow 0 0 7px #A25959
	
.active:after
	// box-shadow 0 0 7px black
	display inline-block
	content ""
	border-left 10px solid transparent
	border-right 10px solid transparent
	border-top 19px solid green
	border-bottom 10px solid transparent
	position absolute
	bottom -31px
	left 42%
	
	
	

		
